<!--[if IE]>
<style type='text/css'>
.eventsCalendar-list li .eventDesc > p {
font-family: "Arial Rounded MT Bold", Arial !important;
}
</style>
<![endif]-->
<link rel="stylesheet" type="text/css" href="/WEB_THEMES/$siteName/css/eventCalendar.css" />
<link rel="stylesheet" type="text/css" href="/WEB_THEMES/$siteName/css/eventCalendar_theme_responsive.css" />
<script type="text/javascript" src="../js/jquery.eventCalendar.js">
</script>
<!-- Breadcrumb -->
<div class="log-right-contents">
  <ul id="bread-crumbs">
    <li>
      <a href="Welcome.action">
        $locale.get("breadcrums.label.home")&nbsp;&nbsp;&raquo;
      </a>
    </li>
    <li>
      <a href="javascript:void(0);">
        $locale.get("product.label.Events")
      </a>
    </li>
  </ul>
  <div class="clear">
  </div>
  <div class="calEventPage">
    <div class="eventCategory">
      <h3>
        $locale.get("event.label.category")
      </h3>
      <input type="checkbox" value="" onchange="ViewAll();" class="catEvent" id="ViewAll" checked>
      &nbsp;View All
      <br/>
      #foreach($eventCat in $eventCatList)
      <input type="checkbox" value="$eventCat.eventCategory" onchange="changeCat();" class="catEvent">
      &nbsp;$eventCat.eventCategory
      <br/>
      #end
    </div>
    <input type="hidden" id="eventCat" value=""/>
    <input type="hidden" id="FirstLoadEvent" name="FirstLoadEvent" value="Y"/>
    <a href='#' class='category' id="category" style="display:none;">
      $locale.get("event.label.applyFilter")
    </a>
    <br/>
    <div id="eventCalendarInline">
    </div>
    <script>
      $(document).ready(function() {
        $("#eventCalendarInline").eventCalendar({
          eventsjson:'calendarEventUnit.action',
          cacheJson:false
        }
                                               );
        $("#FirstLoadEvent").val("N");
      }
                       );
    </script>
    <script>
      function ViewAll(){
        $("input[type='checkbox']:checked").each(function(){
          if($(this).attr("id")!='ViewAll')
            $(this).prop('checked', false);
        }
                                                );
        $("#eventCat").val("");
        $("#category").click();
      }
      function changeCat(){
        var newCat="";
        var i=0;
        $("input[type='checkbox']:checked").each(function(){
          newCat=newCat+","+$(this).val();
          $("#eventCat").val(newCat);
          $("#ViewAll").prop('checked', false);
          i++;
        }
                                                );
        if(i==0){
          $("#eventCat").val("");
          $("#ViewAll").prop('checked', true);
        }
        $("#category").click();
      }
    </script>
    <div class="clear">
    </div>
  </div>
</div>
<div class="clear">
</div>